/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   silcnet.org styles
   ========================================================================== */

* {
	margin: 0;
	padding: 0;
}

html {
	/* CSS3 Multiple backgrounds with a fallback */

	/* Gradient background, various fallbacks */
	background-image: -moz-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #e4e4e4 100%);
	background-image: -o-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #e4e4e4 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 498, color-stop(0, #FFFFFF), color-stop(1, #e4e4e4));
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #FFFFFF 0%, #e4e4e4 100%);
	background-image: radial-gradient(circle farthest-corner at center, #FFFFFF 0%, #e4e4e4 100%);

//	background:url('../img/bg_gradient.jpg') no-repeat center center,url('../img/bg_tile.jpg');
}

body {
	color:#555;
	padding: 10px;
	position: relative;
	min-height: 300px;
	max-height: 300px;
	height: 100px;
	font:24px/1.3 'Open Sans Condensed',sans-serif;
}

small {
	text-transform: none;
	font-size: 13px;
	display: block;
	margin: 0px 0 0 0;
}

small a, small a:visited {
	color: #555;
}

small a:hover {
	color: #777;
}

code {
	font-size: 18px;
}

.list {
	width: 65%;
	text-align: left;
	font-size: 80%;
}

.downloadbutton {
	display: inline-block;
	color: #fff !important;
	line-height: 48px;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none !important;
	text-align: left;
	padding: 0 30px 0 30px;
	background: #22cc11;
	margin: 10px 0 0 0;
}

.downloadbutton:hover {
	background: #33dd22;
}

.downloadbutton small {
	text-transform: none;
	font-size: 14px;
	display: block;
	margin: -28px 0 0 0;
	color: #fff
}

.downloadbutton img {
	width: 48px;
	height: 48px;
	display: inline-block;
	background-repeat: no-repeat;
	margin: 10px 10px 10px 0px;
	float: left;
}

a, a:visited {
	text-decoration: none;
	outline: none;
	color: #259525;
}

a:hover {
	text-decoration:none;
	color: #255525;
}

nav {
	border-top: 1px solid #aaa;
	font:20px/1.3 'Open Sans Condensed',sans-serif;
	padding: 0;
	width: 100%;
}

nav a, nav a:visited {
	padding: 1%;
	text-decoration: none;
	outline: none;
	color: #555;
}

nav a:hover {
	text-decoration: none;
	color: #777;
}

#container {
	color: #555;
	font-size: 58px;
	margin: 0 auto;
	padding: 6% 0 100px;
	width: 100%;
	position:relative;
	text-align: center;
	min-height: 40px;

	font-family:'Open Sans Condensed';,sans-serif;
	text-shadow:1px 1px 0 rgba(255,255,255,0.5);
}

#container2 {
	color: #555;
	font-size: 52px;
	margin: 0 auto;
	padding: 0 0 10px;
	width: 100%;
	position:relative;
	text-align: center;
	min-height: 10px;

	font-family:'Open Sans Condensed';,sans-serif;
	text-shadow:1px 1px 0 rgba(255,255,255,0.5);
}

footer {
	display:block;
	position:fixed;
	width:100%;
	height:75px;
	bottom:0;
	left:0;
	z-index: 100000;
	margin: auto;
	text-align: center;
}

@media screen and (min-height: 1100px) {
	footer {
		height:500px;
	}
}

@media screen and (min-height: 1000px) {
	footer {
		height:400px;
	}
}

@media screen and (min-height: 930px) {
	footer {
		height:300px;
	}
}

@media screen and (max-width: 700px), screen and (max-height: 700px) {
	#container {
		font-size: 56px;
		padding: 4% 0 80px;
 	}
	#container2 {
		font-size: 38px;
		padding: 1% 0 10px;
 	}
	body {
		font-size: 22px;
	}
	code {
		font-size: 16px;
	}
}

@media screen and (max-width: 500px), screen and (max-height: 650px) {
	#container {
		font-size: 43px;
		padding: 4% 0 70px;
 	}
	#container2 {
		font-size: 36px;
		padding: 1% 0 5px;
 	}
	body {
		font-size: 20px;
	}
	code {
		font-size: 14px;
	}
}

@media screen and (max-width: 420px), screen and (max-height: 550px) {
	#container {
		font-size: 38px;
		padding: 3% 0 40px;
 	}
	#container2 {
		font-size: 32px;
		padding: 1% 0 5px;
 	}
	nav {
		font-size: 18px;
	}
	body {
		font-size: 18px;
	}
	code {
		font-size: 12px;
	}
	footer {
		height:50px;
	}
}

#userText {
	background: none;
	border: none;
	border-bottom: 1px solid #aaa;
	
	color: #777777;
	display: block;
	font-family: 'Open Sans Condensed',sans-serif;
	font-size: 26px;
	margin: 0 auto 0px;
	padding: 10px;
	text-align: center;
	width: 300px;
	outline: none;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
